/* You can add global styles to this file, and also import other style files */
/* general styling for the content hero section */
.content_hero {
  width: 100%;
  height: 125px;
  padding: 20px 0;
}

.content_hero .title {
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 1px;
  text-transform: uppercase;
}

.content_hero .subtitle {
  font-weight: 20px;
  font-weight: bold;
  opacity: 0.8;
  color: #6c757d;
}

/* icon styling */

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #0d6efd;
  border-radius: 10px;
}

.icon span {
  color: white;
  font-weight: bold;
}

/* shadow styling */

.fb-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

/* animations styling*/
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
