<div class="container">
  <!-- ========== Content hero section start ========== -->
  <div class="content_hero">
    <p class="title">Services</p>
    <p class="subtitle">
      We are currently providing these services. More coming soon
    </p>
  </div>
  <!-- ========== Content hero section end ========== -->
  <!-- ============================================== -->
  <!-- ========== Service section start ========== -->
  <div class="row">
    <!-- ========== My portfolio service section start ========== -->
    <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
      <div class="card service-card fb-shadow">
        <div class="icon ms-3 mt-3">
          <span class="material-icons">account_balance</span>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center text-uppercase fw-bold">
            My Portfolio
          </h5>
          <p class="card-text">
            Your investment dashboard. Track your investments in stocks and
            mutual funds
          </p>
          <div class="text-end">
            <a routerLink="/portfolio" class="service-card_link">
              <span class="material-icons">arrow_circle_right</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- ========== My portfolio service section end ========== -->
    <!-- ====================================================== -->
    <!-- ========== Assets sell service section start ========== -->
    <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
      <div class="card service-card fb-shadow">
        <div class="icon ms-3 mt-3">
          <span class="material-icons">sell</span>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center text-uppercase fw-bold">
            Sell Assets
          </h5>
          <p class="card-text">
            Your seller dashboard. Sell your assets at optimal time and make
            profit
          </p>
          <div class="text-end">
            <a routerLink="/sell-asset" class="service-card_link">
              <span class="material-icons">arrow_circle_right</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- ========== Assets sell service section end ========== -->
  </div>
  <!-- ========== Service section end ========== -->
</div>
