<div class="container">
  <div class="row home-hero">
    <div class="col-md-6 home-hero-section1">
      <h1 class="display-5 fw-bold">
        Portfolio <span class="text-primary">Manager</span>
      </h1>
      <div>
        <p class="lead mb-4">
          Now manage your investments in stocks and mutual funds at your finger
          tips. You can track your investments and sell your assets in optimal
          time to make profit
        </p>
        <a
          type="button"
          class="btn btn-primary btn-lg px-4"
          routerLink="/services"
        >
          Get Started
        </a>
      </div>
    </div>
    <div class="col-md-6 home-hero-section2">
      <img src="../../assets/images/undraw_investing.svg" alt="" />
    </div>
  </div>
</div>
